
.row{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgb(89, 193, 189);
        background: linear-gradient(218deg, rgb(89, 193, 189) 0%, rgba(13, 76, 146, 1) 57%);
    padding: 0;
        margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}




p{
    display: inline;
}

.card-body>span{
    font-weight: bold;
    
}

img{
    width: 100px;
    animation: 6s linear infinite;
    animation-name: slide;
    
}

h2{display: flex;
    justify-content:center;
}

input, button{
    width: 250px;
}

form{
    display: flex;
    justify-content: center;
   
   
}
.card{
    display: flex;
   align-items: center;
background: rgba(196, 178, 178, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.5s;

}



.card ul li{
    border-radius: 5px;
    margin-top: 5px;
    background:hsla(0, 3%, 14%, 0.63);
    color: aliceblue;

}

@keyframes slide{

    0% {
        transform: translateX(0px);
    }

    25%{
        transform: translateX(50px);
        
    }

    50% {
            transform: translateX(0px);
            
        }

    75% {
             transform: translateX(-50px);
         }
    
        100% {
            transform: translateX(0px);
        }
}

li::before{
    content: "";
    border-bottom: 5px solid rgb(89, 193, 189);
    width: 0px;
    left: 5px;
    bottom: 0;
    position: absolute;
    transition: 1s;
}

li:hover::before{
    width: 95%;
    
}