<div class="row">




<button type="button" class="btn btn-primary" (click)="cargaWeather()">Datos del tiempo</button>


<input type="search" placeholder="busca una ciudad " [(ngModel)]="nombreCiudad">

<h2 *ngIf="weath">Datos de ciudad actual: {{ weath.name}}</h2> 

<div class="card mt-5" style="width: 18rem;">

  <h2 class="card-title mt-2" *ngIf="weath"><span>{{weath.name}}</span></h2>
  <img *ngIf="weath" src="http://openweathermap.org/img/wn/{{weath.weather[0].icon}}.png" class="card-img-top mt-3" alt="..." >
  <p *ngIf="weath" class="card-text"><span>{{weath.weather[0].description}}</span></p>

  <h1 *ngIf="weath">{{weath.main.temp}}°C</h1>
  <p *ngIf="weath">Sensacion termica {{weath.main.feels_like}} °C</p>
  <p *ngIf="weath">Min :{{weath.main.temp_min}} °c</p>
  <p *ngIf="weath">Max :{{weath.main.temp_max}} °c</p>
  



  <div class="card-body">
        
  </div>
  <ul class="list-group list-group-flush mb-3">
    
    <li class="list-group-item" *ngIf="weath">Temperatura actual: {{weath.main.temp}} °C</li>
    <li class="list-group-item" *ngIf="weath">Humedad: {{weath.main.humidity}}%</li>
    <li class="list-group-item"*ngIf="weath">Viento: {{weath.wind.deg}} meter/sec</li>
    <li class="list-group-item" *ngIf="weath">Latitud: {{weath.coord.lat}}</li>
    <li class="list-group-item" *ngIf="weath">Longitud: {{weath.coord.lon}}</li>
    
    
  </ul>
 
</div>




</div>