<div class="row">




<button type="button" class="btn btn-primary" >Datos del tiempo</button>

<form (submit)="submitLocation(nombre)">

      <input type="search" class="form-control" placeholder="busca una ciudad " #nombre >

</form>

<h2 *ngIf="weath">Datos de ciudad actual: {{ weath.name}}</h2> 

<div class="card mt-5" style="width: 18rem;">

  <h2 class="card-title mt-2" *ngIf="weath"><span>{{weath.name}}</span></h2>
  <img *ngIf="weath" src="http://openweathermap.org/img/wn/{{weath.weather[0].icon}}.png" class="card-img-top mt-3" alt="..." >
  <p *ngIf="weath" class="card-text"><span>{{weath.weather[0].description}}</span></p>

  <h1 *ngIf="weath"><i class="fa-solid fa-temperature-half"></i> {{ weath.main.temp | number: '1.0-0'}}°C</h1>
  
  <p *ngIf="weath">Sensacion termica {{weath.main.feels_like| number: '1.0-0'}} °C</p>
  <p *ngIf="weath" >Min :{{weath.main.temp_min| number: '1.0-0'}} °c</p>
  <p *ngIf="weath">Max :{{weath.main.temp_max| number: '1.0-0'}} °c</p>
  



  <div class="card-body">
        
  </div>
  <ul class="list-group list-group-flush mb-3">
    
    
    <li class="list-group-item" *ngIf="weath">Humedad: {{weath.main.humidity}}%</li>
    <li class="list-group-item"*ngIf="weath">Viento: {{weath.wind.deg}} meter/sec</li>
    <li class="list-group-item" *ngIf="weath">Latitud: {{weath.coord.lat}}</li>
    <li class="list-group-item" *ngIf="weath">Longitud: {{weath.coord.lon}}</li>
    
    
  </ul>

  
 
</div>




</div>