
.row{
    height: 900px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgb(89, 193, 189);
        background: linear-gradient(218deg, rgba(89, 193, 189, 1) 0%, rgba(13, 76, 146, 1) 57%);

}



p{
    display: inline;
}

.card-body>span{
    font-weight: bold;
    
}

img{
    width: 100px;
    animation: 6s linear infinite;
    animation-name: slide;
    
}

h2{display: flex;
    justify-content:center;
}

input, button{
    width: 250px;
}

form{
    display: flex;
    justify-content: center;
   
   
}
.card{
    display: flex;
   align-items: center;
background: rgba(196, 178, 178, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.5s;

}



.card ul li{
    border-radius: 5px;
    margin-top: 5px;

}

@keyframes slide{

    0% {
        transform: translateX(0px);
    }

    25%{
        transform: translateX(50px);
        
    }

    50% {
            transform: translateX(0px);
            
        }

    75% {
             transform: translateX(-50px);
         }
    
        100% {
            transform: translateX(0px);
        }
}