
.row{
    display:flex;
    justify-content:center;
    align-items:center;

}

.card{
    background: rgb(15, 7, 15);
        background: linear-gradient(159deg, rgba(15, 7, 15, 1) 0%, rgba(107, 68, 147, 1) 52%, rgba(127, 104, 163, 1) 100%);
}

.card ul li{
    border-radius: 5px;
    margin-top: 5px;

}